main,
.join-us,
.support-button,
.volunteer-button,
.contact-button {
    display: grid;
    justify-items: center;
    width: 100%;
}

.about-us h1 {
    font-size: 2rem;
}

.about-us h2,
.join-us-style h3 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 0px;
}

.join-us-style h2 {
    font-size: 1.4rem;
}

.join-us-style {  
    display: grid;
    padding: 27px;
}

.join-us-img {
    height: 225px;
    border-radius: 10px;
    width: 260px;
    margin: 10px;
}

.about-us {
    background-color: var(--grey-background);
    margin: 15px;
    padding: 10px 20px;
    border-radius: 20px;
}

.support-us {
    background-color: var(--red-background);
}

.volunteer {
    background-color: var(--teal-background);
}

.volunteer-style {
    grid-template-areas: "a" "b";
}

.support-button,
.volunteer-button,
.contact-button {
    justify-items: end;
    margin-bottom: 10px;
}

.internships {
    background-color: var(--blue-background);
}
