main,
.visit-contact-style,
.button-style {
    display: grid;
    justify-items: center;
}

.contact-form,
.form-felds {
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
    padding: 10px 0px;
}


.h2-padding {
    padding-top: 20px;
}


.form-felds textarea {
    height: 100px;
}

.visit-contact-style {
    width: 90%;
}


.visit-contact-style h1 {
    padding: 10px 0px;
}

.visit-contact-style h2 {
    font-size: 1.2rem;
    font-weight: 500;
    width: 215px;
    text-align: center;
}

/*
.form-felds input,
.form-felds select,
.form-felds textarea {
    width: 250px;
    height: 30px;
    border-radius: 7px;
    background-color: var(--white-color);
    padding-left: 5px;
}

.form-felds label, 
.form-felds input,
.form-felds select,
.form-felds textarea,
.button-style input  {
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
}*/

.button-style {
    padding: 20px 0px;
}

.button {
    text-transform: uppercase;
}

h2.phone-nr {
    width: auto;
}