.visit-contact-style {
    display: grid;
    justify-items: center;
    width: 90%;
}

.visit-contact-style h1 {
    padding: 10px 0px;
}

.visit-contact-style h2 {
    width: 215px;
    text-align: center;
}

h2.phone-nr {
    width: auto;
}

h2.text-padding {
    padding-top: 20px;
}

.contact-form,
.form-felds {
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
    padding: 10px 0px;
}

.form-felds textarea {
    height: 100px;
}