main {
    background-image: none;
}

.top-area {
    background-image: url(../images/daniel-pascoa-tjiPN3e45WE-unsplash.webp);
    background-size: contain;
    background-position: center;
    display: grid;
    justify-content: center;
    text-align: center;
}

.top-area h1 {  
    margin-bottom: 0px;
    background-color: unset;
}

.top-area h2 {  
    margin: 0px;
    height: 0px;
    background-color: unset;
    top: 45px;
    max-width: 370px;
}

.top-area a,
.top-text,
.top-text-style {
    justify-self: center;
    align-self: center;
    position: absolute;
}

.top-area a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    width: 300px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 10px;
    top: 138px;
    gap: 10px;
    font-size: 1rem;
}

.top-text {
    display: grid;
    background-color: var(--grey-transparent-background);
    width: 95%;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    z-index: 1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
}


.top-text-style{
    height: 175px;
    margin: 15px;
}

.index-style h2 {
    padding: 0px 40px;
    margin: 10px 0px 0px 0px;
}

.index-style h3 {
    padding: 0px 40px 30px 40px;
    margin: 0;
}

.kids-adults input:checked + label {
    text-decoration: 2px underline;
    border-bottom: 0px;
}

#kids-section:checked + label {
    border-left: 0px;
}

#researchers-section:checked + label {
    border-right: 0px;
}

.kids-adults {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c" "d d d";
}

.visiter-group-style {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--black-color);
}

.kids {
    background-color: var(--red-background);
}
.teachers {
    background-color: var(--brown-background);
}
.researchers {
    background-color: var(--blue-background);
}

.kids-radio-button,
.teachers-radio-button,
.researchers-radio-button {
    position: absolute;
    opacity: 0;
}

.kids-style img,
.teachers-style img,
.researchers-style img {  
    height: 290px;
}

.kids-text-style,
.teachers-text-style,
.researchers-text-style {
    display: flex;   
    justify-content: center;   
    flex-direction: column;   
    justify-self: center; 
    margin: 10px;  
}

.button-row {
    display: flex;
    margin: 10px 10px 20px 10px;
    justify-content: space-evenly;
    gap: 5px;
}

.researchers-radio-button:checked ~ .researchers-style {
    grid-template-areas: "a" "b";
}

.events {
    background-color: var(--teal-background);
}

.events img {  
    margin: 40px 10px 10px 10px;
    width: 80%;
    height: 240px;
    border-radius: 10px;
}

.event-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.event-style h3 {
    max-width: 445px;
    padding-top: 10px;  
}

.event-date {
    display: flex;
    gap: 10px;
}

.event-date h2 {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.food-shop {
    background-color: var(--white-color);
}


