@import "variables.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;
    padding-top: 66px;
    animation-name: page-turn-animation;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    
    /*
    background-color: var(--black-color);*/
}

/*Reference: My previous assignment in html & css - https://github.com/elli95/HTML-and-CSS_CA_Elise-Marie-Hogsnes/blob/main/css/styles.css */
@keyframes page-turn-animation {
    0% {opacity: 0;}
    20% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

header, footer {
    background-color: var(--grey-background);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "b a";
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    left: -10px;
    position: relative;
}

.logo h2 {
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    text-align: center;
}

.logo-top {
    font-size: 1.5rem;   
    margin: 8px 0px 0px 0px;
}

.logo-button {  
    font-size: 1rem;
    margin: 0px 0px 8px 0px;
}

footer {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-areas: "a c" "b d";
    padding: 5px 5px;
    z-index: 3;
}

footer div {
    padding: 0px 10px;
}

footer h2 {
    font-size: 1.2rem;
    margin: 5px;
}

footer h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 5px;
}

main {
    background-image: url(../images/daniel-pascoa-tjiPN3e45WE-unsplash.webp);
    background-size: cover;
    background-position: top center;
}

.to-the-top-arrow {
    position: fixed;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: var(--grey-background);
    border: 1px solid var(--black-color);
    border-radius: 50%;
    padding: 15px;
    font-size: 1.5rem;
    display: grid;
    scroll-behavior: smooth;
}

.to-the-top-arrow:hover {
    background-color: var(--hover-green-background);
}

/* reference: https://webgolovolomki.com/en/how-to-make-a-smooth-zoom-of-the-image-on-hover-effect-on-pure-css/ */
.image-zoom:hover {
    transform: scale(1.1);
    transition: transform 0.25s;
}

.image-box {
    overflow: hidden;
}

.image-flip:hover {
    transform: scale(-100%, 1);
    transition: transform 0.25s;
}

.image-zoom,
.image-flip,
.text-effect-logo h2 {
    transition: transform 0.25s;
}

.text-effect:hover {
    text-decoration: 2px solid underline;
}

.text-effect-logo:hover  h2{
    text-shadow: 3px 3px var(--green-background);
    transform: scale(0.9);
    transition: transform 0.25s;
}

.top-text-button:hover {
    border: 2px solid var(--black-color);
    border-radius: 20px;
    transition: transform 0.25s;
    box-shadow: 0px 3px 8px var(--black-color);
}

.exhibition-lable:hover {
    background-image: url(../images/scott-webb-OxHPDs4WV8Y-unsplash.webp);
    transition: transform 0.25s;
    background-size: cover;
    background-position: center;
}

.button:hover {
    background-color: var(--hover-green-background);
    box-shadow: 2px 2px 5px var(--black-color);
    transition: transform 0.25s;
}

/* reference: https://www.educative.io/answers/how-to-crop-an-image-in-css */
.kids-style img,
.teachers-style img,
.researchers-style img,
.event-1 img,
.event-2 img,
.event-3 img,
.food-shop img,
.exhibitions-img img,
.circle-image img,
.about-img {  
    object-fit: cover;
    object-position: center;
    justify-self: center;
    text-align: center;
}

.kids-style img,
.teachers-style img,
.researchers-style img,
.food-shop img,
.exhibitions-img img,
.about-img {  
    width: 100%;
}

.museum-img {
    border-radius: 10px;
    width: 90%;
    margin: 15px;
}

.visit-contact-style {
    background-color: var(--grey-background);
    padding: 5px 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid var(--white-color);
}

.visit-contact-style h1 {
    font-size: 2rem;
    display: grid;
    justify-items: center;
}

.visit-contact-style h2 {
    font-size: 1.5rem;
}

.visit-contact-style h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.button {
    padding: 10px;
    background-color: var(--green-background);
    width: 160px;/*
    height: 40px;*/
    border-radius: 10px;
    border: 1px solid var(--black-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ticket-form-felds input,
.ticket-form-felds select,
.form-felds input,
.form-felds select,
.form-felds textarea {
    width: 250px;
    height: 30px;
    border-radius: 7px;
    background-color: var(--white-color);
    padding-left: 5px;
}

.ticket-form-felds label,
.ticket-form-felds input,
.ticket-form-felds select,
.form-felds label, 
.form-felds input,
.form-felds select,
.form-felds textarea,
.button-style input  {
    font-family: 'Andika', sans-serif;
    font-size: 1rem;
}

.button-style {
    padding: 20px 0px;
}

/* reference: https://blog.pope.tech/2020/02/28/missing-form-label-search/ */
.wave-fix {
    position: absolute;
    overflow: hidden;
    left: -999999px;
    top: auto;
}

/*Nav menu*/
.menu-hamburger {
    font-size: 2rem;
    padding-left: 10px;
    z-index: 9;
}

#nav-menu {
    display: none;
}

#nav-menu:checked ~ nav {
    display: flex;
}

nav {
    display: none;
    position: absolute;
    background: var(--grey-background);
    border-bottom-right-radius: 10px;
    font-size: 1.7rem;
    top: 66px;
    justify-content: center;
    z-index: 9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

nav li {
    padding: 5px 15px;
}

nav a {
    width: 125px;
    display: flex;
}

/*img, text and font*/

.bottom-border {
    border-bottom: 1px solid var(--black-color);
}

.bold {
    font-weight: bold;
}

h1, h2, h3, a {
    font-family: 'Andika', sans-serif;
    text-decoration: none;
    color: var(--black-color);
}


/*grid cells*/
.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b;
}

.grid-c {
    grid-area: c;
}

.grid-d {
    grid-area: d;
}

.grid-e {
    grid-area: e;
}