.visit-page-space {
    padding: 10px 0px;
}

.iframe-style {
    border: 1px solid var(--blue-background);
    height: 170px;
    margin: 20px 0px;
    border-radius: 10px;
}

.admission-style h3 {
    padding-bottom: 20px;
}


.tickets {
    display: grid;
    justify-items: center;
}

.ticket-form {
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
    padding: 10px 0px;
}