main {
    display: grid;
    justify-items: center;
}


.button-style {
    display: grid;
    justify-items: end;
}

.visit-page-space {
    padding: 10px 0px;
}

.admission-style h3 {
    padding-bottom: 20px;
}

.iframe-style {
    border: 1px solid var(--blue-background);
    height: 170px;
    margin: 20px 0px;
    border-radius: 10px;
}